/* .nav-link {
    font-weight: 500;
    color: white;
    font-size: 14px;
    padding: 5px;
    text-align: center;
    margin: 0 10px;
    text-decoration: none;
  }
  
.nav-link:hover {
    color: #FB5C46;
    text-decoration: underline;
  }
  
@media (max-width: 768px) {
    .nav-link {
      padding: 10px 25px;
      text-align: left;
    }
  }
  
  
  
  
  */






  .nav-link {
    position: relative;
    display: inline-block;
  }
  
  .underline {
    position: absolute;
    display: block;
    height: 2px;
    width: 0;
    background: #FB5C46;
    bottom: -2px;
    left: 0;
    transition: width 0.5s ease;
  }
  
  .nav-link:hover .underline {
    width: 100%;
  }
  
